/*CSS

Colors {
    Primary Blue: 0D98BA
    Green: 1CAC78
    Smoky Black: 100C08
    Secondary Blue: 007BA7
    Accent: CE8871
    Ghost White: F8F8FF
}

Fonts {
    Logo: Shadows Into Light, Indie Flower, Rock Salt
    Title: Bungee, Bebas Neue, Ferdoka One
}

*/

body {
    background-color: #F8F8FF;
}

.navbar {
    background-color: #100c08;
    font-size: 1.5rem;
    
}

.navbar-brand {
    font-size: 2.25rem;
    color: #007ba7;
    font-family: 'Rock Salt', cursive;
}

.navbar-brand:hover {
    color: #007ba7;
}

.bi-list {
    color: #F8F8FF;
    font-size: 2rem;
}

.navbar-toggler-icon {
    stroke: #F8F8FF;
}

.nav-link {
    color: #F8F8FF;
}

.nav-link:hover {
    color: #007BA7;
}